%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
{erl_opts, [debug_info]}.

{so_specs,
 [{"priv/bcrypt_nif.so",
   ["c_src/blowfish.o", "c_src/bcrypt.o", "c_src/bcrypt_nif.o"]}]}.

{post_hooks,
 [{clean, "rm -f priv/bcrypt"},
  {compile,
   "$CC $CFLAGS $ERL $ERL_CFLAGS "
   "c_src/bcrypt_port.c c_src/bcrypt.o c_src/blowfish.o "
   "$LDFLAGS $ERL_LDFLAGS -lpthread "
   "-o priv/bcrypt"}]}.
