%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
{so_specs,
 [{"priv/bcrypt_nif.so",
   ["c_src/blowfish.c", "c_src/bcrypt.c", "c_src/bcrypt_nif.c"]},
  {"priv/bcrypt_port.so",
   ["c_src/bcrypt_port.c"]}]}.

{erl_opts, [debug_info]}.

{pre_hooks,  [{clean, "rm -f priv/bcrypt c_src/bcrypt_port.o"}]}.
{post_hooks,
 [{compile,
   "gcc -g -O2 -Wall c_src/bcrypt_port.o c_src/bcrypt.o"
   " c_src/blowfish.o -lerl_interface -lei -lpthread"
   " -o priv/bcrypt"}]}.
